body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #0f172a, #18274de0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
     text-shadow:
    0 0 12px rgba(0, 0, 0, 0.6),
    0 0 30px rgba(158, 158, 158, 0.521);
    background: #1e293b;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    box-shadow:
    0 0 12px rgba(0, 229, 255, 0.822),
    0 0 30px rgba(76, 0, 255, 0.76);
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup h2 {
  margin-bottom: 20px;
}

/* Mobile tweaks */
@media (max-width: 480px) {
  .btn {
    width: 100%;
  }
}

textarea {
    color: black;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 9.5px;
    cursor: pointer;
    box-shadow: whitesmoke;
}

button :hover{
  background-color: red;
  box-shadow: yellow;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none;
}
